body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: "Playfair Display SC", serif;
}

.admin-container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
    min-height: 60px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    opacity: 0.9;
}
