
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}


.retangulo-rosa {
    height: 5vh;
    width: 100vw;
    background-color: blueviolet;
}


.imagem-home {
    position: relative;
    width: 100vw;
    height: 95vh;

    background-image: url("../img/imagem-de-fundo-home.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.imagem-home::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}


.titulo,
.subtitulo {
    position: relative;
    z-index: 2;
}

.titulo {
    font-size: 3rem;
    margin: 0;
}

.subtitulo {
    font-size: 1.2rem;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .titulo {
        font-size: 2.2rem;
    }

    .subtitulo {
        font-size: 1rem;
    }
}
