<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Avalie seus produtos</h2>

    <form method="POST">
        {% for produto in produtos %}
        <p>{{ produto.nome }}</p>
        {% for i in range(1,6) %}
        <input type="radio" name="produto_{{ produto.id }}" value="{{ i }}" required> {{ i }}⭐
        {% endfor %}
        <hr>
        {% endfor %}
        <button>Enviar Avaliações</button>
    </form>

</body>

</html>